@font-face {
    font-family: 'gl-dancingmen';
    src: url('../fonts/gl-dancingmen-webfont.woff2') format('woff2'),
         url('../fonts/gl-dancingmen-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background: transparent url("../img/dark_brick_wall.png") repeat scroll 0% 0%;
}

#dancingmen{
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 25px;
    color: #fff;
    line-height: 35px;
    text-align: justify;
    font-family: 'gl-dancingmen';
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}