@font-face {
    font-family: "Arcade";
    src: url('ARCADECLASSIC.TTF');
}
::selection {
    background: rgba(152,66,244,0.5); /* WebKit/Blink Browsers */
    color: rgba(244,66,244,0.5);
}
::-moz-selection {
    background: rgba(152,66,244,0.5); /* WebKit/Blink Browsers */
    color: rgba(244,66,244,0.5);
}
html, body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    background-image:url("wallpaper.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
header{
    text-align: left;
}
nav{
    background-color: #212121;
    width: 100%;
    height: 50px;
    background-color: #151515;
    line-height: 50px;
    -webkit-box-shadow: 0 5px 8px 2px rgba(152,66,244,0.5);
    box-shadow: 0 5px 8px 2px rgba(152,66,244,0.5);
}
nav a, nav a:link, nav a:hover, nav a:focus, nav a:active, nav a:visited{
    text-decoration: none;
    color: white;
    font-family: Arcade;
    font-size: 24px;
    margin: 0 25px;
    transition: ease-in-out all 200ms;
    border: 0;
    outline: 0;
}
nav a:hover{
    color: #9842f4;
}
h1{
    font-size: 40pt;
    color: white;
    font-family: Arcade;
    margin-top: 60px;
}
h2{
    font-family: Helvetica;
}
#titre{
    position: fixed;
    margin-top: 40vh;
    width: 100%;
    text-align: center;
    font-size: 60pt;
    text-shadow: 0 0 10px #000000;
}
table{
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    border-collapse: collapse;
    -webkit-box-shadow: 0 5px 8px 2px rgba(0,0,0,0.5);
    box-shadow: 0 5px 8px 2px rgba(0,0,0,0.5);
}
th{
    font-size: 19pt;
    font-family: Arcade;
    padding: 10px 10px;
    background-color: #9842f4;
    text-align: center;
}
td{
    text-align: center;
    padding: 5px 10px;
    font-family: Helvetica;
}
td img{
    max-width: 100px;
}
table tr:nth-child(2n){
    background-color: rgba(0,0,0,0.5);
}
#rechercher{
    width: 600px;
    margin-bottom: 200px;
}
#rechercher tr, #rechercher tr td, #rechercher tr th{
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}
input,input:hover,input:active,input:focus{
    border: 0;
    outline: 0;
    margin: 10px 0;
    height: 30px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    display: inline-block;
    width: 100%;
    padding: 0 10px;
    transition: ease-in-out all 200ms;
    color: white;
}
input[type=submit]:hover{
    -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,0.5);
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.75);
    cursor: pointer;
}
input[type=text]:hover,input[type=password]:hover{
    -webkit-box-shadow: inset 0 0 4px 2px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 4px 2px rgba(0,0,0,0.5);
}
input[type=text]:focus,input[type=password]:focus{
    -webkit-box-shadow: inset 0 0 4px 2px rgba(0,0,0,0.7);
    box-shadow: inset 0 0 4px 2px rgba(0,0,0,0.7);
}
