@font-face {
    font-family: "ZoonHoot";
    src: url('Zoon Hoot.otf');
}
::selection {
    background: rgba(244, 223, 65,0.5); /* WebKit/Blink Browsers */
    color: rgba(255,255,255,1);
}
::-moz-selection {
    background: rgba(244, 223, 65,0.5); /* WebKit/Blink Browsers */
    color: rgba(255,255,255,1);
}
html, body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    background-image:url("wallpaper.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
header{
    text-align: center;
}
nav{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
}
nav a, nav a:link, nav a:hover, nav a:focus, nav a:active, nav a:visited{
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,0.6);
    padding: 20px 30px;
    font-family: ZoonHoot;
    font-size: 24px;
    margin: 0 25px;
    transition: ease-in-out all 200ms;
    border: 0;
    outline: 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
nav a:hover{
    background-color: rgba(0,0,0,0.8);
    -webkit-box-shadow:inset 0 0 5px 5px rgba(0,0,0,0.5);
    box-shadow:inset 0 0 5px 5px rgba(0,0,0,0.5);
    /* color: rgba(135, 63, 27,1); */
}
h1{
    font-size: 40pt;
    color: white;
    font-family: ZoonHoot;
    margin-top: 60px;
}
h2{
    font-family: 'Ubuntu', sans-serif;
    text-align:center;
    display: inline-block;
    color: rgba(244, 223, 65,1);
    font-size: 20px;
    padding-bottom: 4px;
    border-bottom: 2px dashed rgba(244, 223, 65,0.8);
}
#titre{
    margin-top: 40px;
    width: 100%;
    text-align: center;
    font-size: 60pt;
    text-shadow: 0 0 10px #000000;
    background-color: rgba(244, 223, 65,0.8);
}
#ptitre{
    font-family: 'Ubuntu', sans-serif;
    text-align:justify;
    display: inline-block;
    background-color: rgba(0,0,0,0.75);
    padding: 25px;
    font-size: 18px;
    width: 800px;
}
#imgtitre{
    text-align: center;
}
#imgtitre img{
    width: 550px;
    border-radius: 25px;
}
#imgtitre hr{
    width: 300px;
    border: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 2px dashed rgba(244, 223, 65,0.8);
}
table{
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    border-collapse: collapse;
    -webkit-box-shadow: 0 5px 8px 2px rgba(0,0,0,0.5);
    box-shadow: 0 5px 8px 2px rgba(0,0,0,0.5);
}
th{
    font-size: 19pt;
    font-family: ZoonHoot;
    padding: 10px 10px;
    color: black;
    background-color: #f4df41;
    text-align: center;
}
td{
    text-align: center;
    padding: 5px 10px;
    font-family: Helvetica;
}
td img{
    max-width: 100px;
}
table tr:nth-child(2n){
    background-color: rgba(0,0,0,0.5);
}
#rechercher{
    width: 600px;
}
#rechercher tr, #rechercher tr td, #rechercher tr th{
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}
input,input:hover,input:active,input:focus{
    border: 0;
    outline: 0;
    margin: 10px 0;
    height: 30px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    display: inline-block;
    width: 100%;
    padding: 0 10px;
    transition: ease-in-out all 200ms;
    color: white;
}
input[type=submit]:hover{
    -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,0.5);
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.75);
    cursor: pointer;
}
input[type=text]:hover,input[type=password]:hover{
    -webkit-box-shadow: inset 0 0 4px 2px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 4px 2px rgba(0,0,0,0.5);
}
input[type=text]:focus,input[type=password]:focus{
    -webkit-box-shadow: inset 0 0 4px 2px rgba(0,0,0,0.7);
    box-shadow: inset 0 0 4px 2px rgba(0,0,0,0.7);
}